# Plugin config files, which don't need to be in production
.auto-changelog
.eslintrc
.eslintignore
.gitignore
.github

# Documentation that doesn't need to be in production
*.md

# Unneeded nodejs files
package-lock.json
node_modules
src

# Typescript configuration
tsup.config.ts
tsconfig.json

# Tests and test config files
tests
coverage
jest.config.ts
